In [20]:
import os
from DailyReport.template import WEEKLY_TEMPLATE_PATH, DAILY_TEMPLATE_PATH
import pandas as pd;pd.__version__

'0.24.2'

In [10]:
root_instrument = 'AUD'
report_folder = r'report_output'
chart_folder = 'chart_output'
data_folder = 'data_output'

In [37]:
result_path = os.path.join(report_folder, root_instrument, '')
data_path_dict = {
    'DailySinceHigh': os.path.join(data_folder, 'DailySinceHigh', root_instrument),
    'DailySinceLow': os.path.join(data_folder, 'DailySinceLow', root_instrument),
    'ER_ID2': os.path.join(data_folder, 'ER_ID2'),
    'ER_ID1': os.path.join(data_folder, 'ER_ID1'),
    'Max20': os.path.join(data_folder, 'Max20', root_instrument),
    'Min20': os.path.join(data_folder, 'Min20', root_instrument),
    'Price': os.path.join(data_folder, 'Price'),
    'RS': os.path.join(data_folder, 'RS', root_instrument),
    'RS_Change': os.path.join(data_folder, 'RS_Change', root_instrument),
    'TR_ID3': os.path.join(data_folder, 'TR_ID3'),
    'TR_ID2': os.path.join(data_folder, 'TR_ID2'),
    'TR_ID1': os.path.join(data_folder, 'TR_ID1'),
}

In [32]:
date = '2019-09-09'
base_instrument = '6A ##-##'
sub_instruments = ['AUDCAD', 'AUDCHF', 'AUDJPY', 'AUDNZD', 'AUDUSD', 'EURAUD', 'GBPAUD']

In [8]:
context = {
    'instrument_group_name': root_instrument,
    'date': date
}

In [30]:
def get_group_value(group_path, instrument_list, indicator_name):
    result = {}
    for i in instrument_list:
        _path = os.path.join(group_path, i + '.csv')
        _df = pd.read_csv(_path, header=None)
        result[i] = _df.iloc[-1, -1]
    return pd.DataFrame(result, [indicator_name])

In [40]:
pd.concat([
    get_group_value(data_path_dict['RS'], sub_instruments, 'RS'),
    get_group_value(data_path_dict['RS_Change'], sub_instruments, 'RS_Change'),
    get_group_value(data_path_dict['Max20'], sub_instruments, 'Max20'),
    get_group_value(data_path_dict['Min20'], sub_instruments, 'Min20'),
    get_group_value(data_path_dict['DailySinceHigh'], sub_instruments, 'DailySinceHigh'),
    get_group_value(data_path_dict['DailySinceLow'], sub_instruments, 'DailySinceLow'),
]).T

        RS  RS_Change  Max20  Min20  DailySinceHigh  DailySinceLow
AUDCAD  27         18     27      8             179             23
AUDCHF  50         25     50      9             102             10
AUDJPY  41         26     41      6             103             10
AUDNZD  85          5     87     51             103            177
AUDUSD  36         29     36      8             157             23
EURAUD  65         22     66     25              23            103
GBPAUD  58         -1     78     37              90             29

In [13]:
i = 'AUDCAD'

In [17]:
_path = os.path.join(group_path, i + '.csv');_path

'data_output\\RS\\AUD\\AUDCAD.csv'

In [23]:
df = pd.read_csv(_path, header=None)

In [24]:
result = {}

In [25]:
result ={
    i: df.iloc[-1,-1]
}

In [26]:
result

{'AUDCAD': 27}

In [29]:
pd.DataFrame(result, ['RS'])

    AUDCAD
RS      27